<div class="row text-center" >
  <div class="col">
      <h1>Cálculo</h1>
      <h2>{{calculo}}</h2>
  </div>
</div>

<div class="row text-center" >
  <div class="col">
      <button class="btn btn-primary mr-3" (click)="incremental()" >Incremental</button>
      <button class="btn btn-info" (click)="decremental()">Decremental</button>
</div>

<div class="row">
  <div class="col" >
    <app-hijo [calculo]="calculo"></app-hijo>
  </div>
</div>